@import "index.scss";


.build{
    width: 100%;
    //height: 61vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // position: absolute;
    margin: 50px auto;
}