@import "index.scss";


header{
    max-width: $width;
    margin: 0 auto;
}
.logoLink{
    display: block;
    width: 90px;
    height: 72px;
   background: url('../asset/image/logo.svg') center no-repeat;
}