@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

$width: 1200px;

$font_title: "Baloo Paaji 2", cursive;
$font_basic: "Open Sans", sans-serif;

$color_descripttion: #454c6a;
$color_secend: #f990ae;
$color_third: #6ed2ca;
$color-four: #98e6f0;
$color-five: #ffc128;
$color_white: #fff;
$color-text: #707070;

@mixin font_description {
    font-family: $font_basic;
    font-size: 1em;
    font-weight: 400;
    padding-bottom: 1em;
    margin: 0;
    color: $color_text;
}

@mixin title {
    font-family: $font_title;
    color: $color_descripttion;
    font-weight: 700;
    font-size: 1.25em;
}
@mixin link {
    color: $color_descripttion;
    text-decoration: none;
}
html {
    height: 100%;
    overflow: hidden;
    width: 100%;
}
body {
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
a {
    text-decoration: none;

}
h1{
    @include title;
    font-size: 2.25em !important;
}
h2{
    @include title;
    font-size: 1.25em;
    text-transform: uppercase;
    padding-bottom: 1em;
}
h3{
    @include title;
    font-size: 1em;

}
p{
    @include font_description;

}
#app{
    height: auto;
    // z-index: -99;
}
